<div class="w-75 mx-auto mt-5">
  <form [formGroup]="albumForm" class="row" (ngSubmit)="onSubmit()">

    @if(!album) {
      <div class="col-md-3 mb-4">
        <label for="inputId" class="form-label">Id</label>
        <input type="text" class="form-control" id="inputId" formControlName="id">
      </div>
    }

    <div class="col-12 mb-4">
      <label for="inputName" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" minlength="3" autofocus required>
      <div class="invalid-feedback">El nombre tiene que tener al menos 3 caracteres</div>
    </div>
    
    <div class="col-md-6 mb-4">
      <label for="inputPrice" class="form-label">Precio</label>
      <input type="text" class="form-control" id="inputPrice" formControlName="precio" required>
    </div>
    <div class="col-md-6 mb-4">
      <label for="inputStock" class="form-label">Stock</label>
      <input type="text" class="form-control" id="inputStock" formControlName="stock" required>
    </div>
    
    <div class="col-md-6 mb-4">
      <label for="inputAutor" class="form-label">Autor</label>
      <select id="inputAutor" class="form-select" formControlName="autor">
        @for (author of authors$ | async; track author.id) {
          <option [value]="author.id">{{ author.nombre }}</option>
        }
      </select>
    </div>
    <div class="col-md-6 mb-4">
      <label for="inputGenero" class="form-label">Genero</label>
      <select id="inputGenero" class="form-select" formControlName="genero">
        @for (genre of genres$ | async; track genre.id) {
          <option [value]="genre.id">{{ genre.nombre }}</option>
        }
      </select>
    </div>

    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">
        {{ album?'Crear nuevo disco':'Guardar' }}
      </button>
    </div>
  </form>
</div>