<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand nav-link" routerLink="/" routerLinkActive="active">Tienda Curso Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <div class="w-100 d-flex justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <!--li class="nav-item dropdown"-->
                <li class="nav-item dropstart">
                  <a class="nav-link dropdown-toggle button-user" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-vcard-fill"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @if (user) {
                      <li><a class="dropdown-item" href="#">Perfil</a></li>
                      <li><a class="dropdown-item" href="#">Cambiar password</a></li>
                      <li><a class="dropdown-item" href="#">Direcciones</a></li>
                      <li><a class="dropdown-item" href="#">Pedidos</a></li>
                      <li><a class="dropdown-item" href="#">Métodos de pago</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="logout()">Desconectar</a></li>
                    } @else {
                      <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                    }
                    
                  </ul>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </nav>