.button-user {
    font-size: 2rem;
    margin: -1rem 1rem;
}

ul.navbar-nav {
    /* border: 1px solid red; */
    width: 10rem;
}


.button-bag {
    margin: -1rem 2rem;
    /*margin-left: auto;*/
    background-color: transparent;
    border: 0;
}

.button-bag i {
    font-size: 2rem;
    color: white;
    margin: -1rem;
}

.button-bag i:hover {
    color: rgb(161, 193, 251);
}