<form #f="ngForm" (ngSubmit)="onSubmit(f)" [class]="valideForm?'was-validated':''" novalidate>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" name="inputUsername" minlength="3" ngModel required>
    <div class="invalid-feedback">El usuario tiene que tener al menos 3 caracteres</div>
  </div>
  <div class="form-group mt-1">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="inputPassword" minlength="4" ngModel required>
    <div class="invalid-feedback">El password tiene que tener al menos 4 caracteres</div>
  </div>
  <div class="form-group mt-2 d-flex justify-content-start">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
    
</form>

<div *ngIf="loginError" class="alert alert-danger m-1 mt-3" role="alert">
  Usuario o contraseña incorrectos
</div>
