<div class="container" *ngIf="products$ | async as prods; else errorOrloading">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="position-fixed buttom-0 end-0 text-end">
      <a class="btn btn-primary" role="button" [routerLink]="['/product-new']" routerLinkActive="active">
        <i class="bi bi-plus-circle"></i>
      </a>
    </div>
    <div class="col" *ngFor="let p of prods">
      <div class="card">
        <img [src]="p.thumbnail" class="card-img-top" [alt]="p.name">
        <div class="card-body">
          <p class="card-title">{{ p.name }}</p>
          <h5 class="card-text">{{ p.price | currency:'EUR' }}</h5>
          <!--div class="d-flex justify-content-between">
            <button href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-bag-plus"></i> Añadir al carrito</button>
            <button href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil"></i> Editar producto</button>
          </div-->
          <div class="text-end">
            <button [routerLink]="['/product-edit', p.id]" routerLinkActive="active" class="btn btn-outline-primary btn-sm text-end"><i class="bi bi-pencil"></i> Editar producto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #errorOrloading>
  <section *ngIf="hasError; else loader" class="alert alert-danger m-1 mt-3" role="alert">
    Ha habido un error al cargar la página, vuelve a intentarlo de nuevo..
  </section>
<ng-template #loader>Leyendo producto....</ng-template>
</ng-template>