@if(albums$ | async; as albums) {

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <!-- <div class="position-fixed buttom-0 end-0 text-end">
    <a class="btn btn-primary" role="button" [routerLink]="['/']">
      <i class="bi bi-plus-circle"></i>
    </a>
  </div> -->
  @for (album of albums; track album.id) {
  <div class="col">
    <div class="card">
      @if (album?.foto) {
      <img [src]="album.foto" class="card-img-top" [alt]="album.nombre">
      } @else {
      <span class="card-img-top m-2">
        <svg class="bi" width="128" height="128" fill="#D3D3D3">
          <use xlink:href="bootstrap-icons.svg#file-music" />
        </svg>
      </span>
      }
      <div class="card-body">
        <h5 class="card-title">{{ album.nombre }}</h5>
        <p class="card-text"><small class="text-muted">{{ getGenre(album) }}</small></p>
        <h6 class="card-text">{{ album.precio | currency:'EUR' }}</h6>
        <div class="d-flex justify-content-between">
          @if(isUserLogin) {
          <button [routerLink]="['/']" (click)="addToCart(album)" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-bag-plus"></i> Añadir al carrito
          </button>
          } @else {
            <div>&nbsp;</div>
          }
          <button [routerLink]="['/album',album.id]" class="btn btn-outline-primary btn-sm text-end">
            <i class="bi bi-search"></i> Ver
          </button>
        </div>
        <!-- <div class="text-end">
          <button [routerLink]="['/']" class="btn btn-outline-primary btn-sm text-end">
            <i class="bi bi-search"></i> Ver
          </button>
        </div> -->
      </div>
    </div>
  </div>
  } @empty {
  <li>No hay discos.</li>
  }

</div>
<div class="m-5 d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination text-secondary">
      <li class="page-item"><a class="page-link" [routerLink]="['/']">Previous</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">3</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/']">Next</a></li>
    </ul>
  </nav>
</div>
}